/* Genel stil ayarları */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Başlık stili */
h1 {
    color: #444;
}

/* Form stili */
form {
    background-color: #fff;
    padding: 20px;
    margin: 20px 0;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

/* Input alanları stili */
input[type="number"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 3px;
}

/* Buton stili */
button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

/* Hata mesajları ve geri bildirimler için stil */
.alert {
    padding: 10px;
    margin-top: 20px;
    color: white;
    border-radius: 3px;
}

.alert.success {
    background-color: #28a745;
}

.alert.error {
    background-color: #dc3545;
}
